    <a href="/" title="Back to Home">Home</a> <span class="meta">&#8226;</span>
    <a href="/cv" title="Curriculum Vitæ of {{site.owner.name}}">CV</a> <span class="meta">&#8226;</span>
    <a href="/publications" title="List of Publications">Publications</a> <span class="meta">&#8226;</span>
	<a href="/tips" title="Software Tips">Tips</a> <span class="meta">&#8226;</span>

 <!--   <a href="/research/" title="Working papers, publications, and scientific software">Research</a> <span class="meta">&#8226;</span>

    <a href="/courses/" title="Current and previous courses">Courses</a> <span class="meta">&#8226;</span>
    <a href="/notes/" title="Research notes">Notes</a>
-->
