<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="page">

  <nav class="topnav">
    {% include top_links.html %}
  </nav>

  <div class="cols">

    <aside class="side">
      <img class="avatar" src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }}">
      <h1>{{ site.owner.name }}</h1>
      <p class="role">{{ site.owner.position }}</p>
      <p class="affil">
        <a href="{{ site.owner.departmentweb }}">{{ site.owner.department }}</a><br>
        <a href="{{ site.owner.companyweb }}">{{ site.owner.company }}</a>
      </p>

      <ul class="profiles">
        <li><a href="https://scholar.google.com/citations?user=dzuKyxwAAAAJ&amp;hl=en">
          <svg viewBox="0 0 24 24" width="15" height="15" fill="currentColor" aria-hidden="true"><path d="M12 2L1 9l11 7 9-5.74V17h2V9z"/><path d="M5 13v3.5l7 4 7-4V13l-7 4z"/></svg>
          <span>Google Scholar</span>
        </a></li>
        <li><a href="https://github.com/ozank">
          <svg viewBox="0 0 24 24" width="15" height="15" fill="currentColor" aria-hidden="true"><path d="M12 .5C5.7.5.5 5.7.5 12c0 5.1 3.3 9.4 7.9 10.9.6.1.8-.3.8-.6v-2.2c-3.2.7-3.9-1.4-3.9-1.4-.5-1.3-1.3-1.7-1.3-1.7-1.1-.7.1-.7.1-.7 1.2.1 1.8 1.2 1.8 1.2 1 1.8 2.8 1.3 3.5 1 .1-.8.4-1.3.8-1.6-2.6-.3-5.3-1.3-5.3-5.7 0-1.3.4-2.3 1.2-3.1-.1-.3-.5-1.5.1-3.1 0 0 1-.3 3.3 1.2 1-.3 2-.4 3-.4s2 .1 3 .4c2.3-1.6 3.3-1.2 3.3-1.2.7 1.7.2 2.9.1 3.1.8.8 1.2 1.9 1.2 3.1 0 4.4-2.7 5.4-5.3 5.7.4.4.8 1.1.8 2.2v3.3c0 .3.2.7.8.6 4.6-1.5 7.9-5.8 7.9-10.9C23.5 5.7 18.3.5 12 .5z"/></svg>
          <span>GitHub</span>
        </a></li>
        <li><a href="https://www.linkedin.com/in/okeysan/">
          <svg viewBox="0 0 24 24" width="15" height="15" fill="currentColor" aria-hidden="true"><path d="M19 3H5a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2zM8.5 18H6V10h2.5v8zM7.3 8.9a1.4 1.4 0 110-2.9 1.4 1.4 0 010 2.9zM19 18h-2.5v-3.9c0-1 0-2.2-1.3-2.2s-1.5 1-1.5 2.1V18H11.2V10h2.4v1.1h.1c.3-.6 1.1-1.3 2.3-1.3 2.5 0 2.9 1.6 2.9 3.8V18z"/></svg>
          <span>LinkedIn</span>
        </a></li>
      </ul>

      <p class="contact">
        <script type="text/javascript">
          // http://csarven.ca/hiding-email-addresses
          var s1 = "keysan", s2 = "@", s3 = "metu.edu.tr";
          document.write('<a href="mail' + 'to:' + s1 + s2 + s3 + '">' + s1 + s2 + s3 + '</a>');
        </script><br>
        <a href="tel:+903122107586">(+90 312) 210 7586</a><br>
        <a href="https://goo.gl/maps/R5v5jXpoozx">Office C‑113</a>
      </p>
    </aside>

    <main class="content">
      {{ content }}
    </main>

  </div>
</div>
{% include google_analytics.html %}
</body>
</html>
